* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 500px;
}

h1, h2 {
    text-align: center;
    margin: 10px;
    color:darkcyan;
    font-size: 24px;
}

input[type="text"] {
    width: calc(100% - 60px);
    padding: 12px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

button {
    padding: 10px 15px;
    margin: 1.5em;
    border: none;
    background: #64d17d;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #218838;
    opacity: 0.9;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li button {
    background: #007bff; 
    border: none;
    color: #fff;
    padding: 6px 10px;
    font-size: 14px;
}

button.complete-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button.delete-btn {
    background-color: #dc3546b4;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
li button.deleteBtn:hover {
    background: #c82333; 
} 


button.edit-btn {
    background-color: #ffc107;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

li button.editBtn:hover {
    background: #0056b3; 
}

li {
    background-color: #f4f4f4;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:nth-child(odd) {
    background-color: #e9e9e9;
}
#noPendingTasksMessage {
    color: #888;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}
